.modalWr {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalInner {
  background-color: white;
  border-radius: 5px;
  padding: 50px 40px 50px;
  width: min-content;
  position: relative;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.btnCloseIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.closeIcon:hover * {
  stroke: var(--color-text-black);
}
