.catalog {
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-top-section);
}

.catalogBody {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

.sortCatalog {
    position: relative;
    padding-top: calc(42px + 20px); /* высота элемента + gap */
}