.self_delivery {
  border: 2px solid var(--color-ligh-grey);
  padding: 1vw;
  margin: 1.5vw 0;
  border-radius: 0.35rem;
}

.city_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
  margin: 1vw 0 1vw 0;
}

.home_info {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.house_info,
.flat_info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  margin: 1vw 0;
}
