.favoritesSection {
    margin-top: var(--margin-top-section);
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "mainTitle mainTitle";
    gap: 20px 30px;
}
.emptyCartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.bodyEmptyCart {
  width: 50%;
  text-align: center;
}

.bodyEmptyCart a {
  color: var(--color-blue);
}

.bodyEmptyCart a:hover {
  text-decoration: underline;
}

.btnContainer {
  display: flex;
  gap: 30px;
}


@media (max-width: 1024px) {
  .favoritesSection {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "mainTitle" "favoritesList" "favoritesTotal";
  }

  .favoritesSection aside {
    grid-area: favoritesTotal;
  }

  .favoritesSection ul {
    grid-area: favoritesList;
  }
}
