.inputsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    border: 1.5px solid var(--color-text-black);
    padding: 10px;
    height: 36px;
    border-radius: 5px;
    width: calc(50% - 26.5px / 2);
}

.delimiter {
    width: 10px;
    border: 1px solid var(--color-text-black);
}