.card {
    aspect-ratio: 3 / 4;
    padding: 20px;
    max-height: 400px;
}

.cardImg {
    width: 100%;
    height: 60%;
    position: relative;
}

.cardImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cardBody {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.containerName {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.name, .nameEng {
    text-align: center;
}

.hr {
    margin: 0;
    border-color: var(--color-ligh-grey);
}

.containerPrice {
    display: flex;
    justify-content: space-between;
}

.containerPrice h2{
    font-size: 20px;
    font-weight: 500;
}

.containerButton {
    height: 35px;
}