.leftSection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    margin-top: 10px;
}

.content {
    border: 1.5px solid var(--color-ligh-grey);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}