.custom_select {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: max-content;
  user-select: none;
  text-align: center;
}

.left_item {
  border: 2px solid var(--color-ligh-grey);
  padding: 0.7vw 2vw;
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}
.left_item.active {
  border: 2px solid var(--color-yellow);
}

.right_item {
  border: 2px solid var(--color-ligh-grey);
  padding: 0.7vw 2vw;
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
}

.right_item.active {
  border: 2px solid var(--color-yellow);
}
