@import url('../../variables.css');

.header {
  height: auto;
  padding: var(--padding-y-global) var(--padding-x-global);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 0; */
  gap: 5vw;
}

.down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 0; */
  gap: 12%;
}

.containerInfo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5vw;
}

.infoLeft {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.infoLeft span {
  font-size: 14px;
  line-height: 16.44px;
  color: var(--color-text-black);
}

/* нижняя часть хедера */
.containerButton {
  height: 100%;
  width: 190px;
}

.downRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.5vw;
  height: 4.5vw;
}

@media (max-width: 1300px) {
  .infoLeft {
    display: none;
  }
}

@media (max-width: 1200px) {
  .down {
    gap: 8%;
  }
}

@media (max-width: 900px) {
  .down {
    gap: 5%;
  }
}

@media (max-width: 768px) {
  .containerButton {
    display: none;
  }
  .down {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: space-between;
    width: 100%;
  }

  .downRight {
    justify-content: center;
  }
}
