.wrapper {
  max-width: 1120px;
  margin: 0 auto;
}

b {
  font-weight: 600;
}

p,
h4 {
  font-size: 16px;
  margin: 0.5vw 0;
}

h4 {
  margin-bottom: 2vw;
}

ul {
  margin: 1vw 2vw;
}
ul li {
  list-style-type: disc;
}
