.filtersContainer {
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}