.form {
    padding: 30px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rememberPasswordBtn {
    font-size: 16px;
    text-decoration: underline;
    width: fit-content;
}

.rememberPasswordBtn:hover {
    text-decoration-color: var(--color-blue);
}

.error {
    color: var(--color-error);
    font-size: 14px;
}