.wrapper {
    max-width: 850px;
    margin: 0 auto;
}
.user_data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
}

input {
    border-bottom: 2px solid var(--color-ligh-grey);
    padding: .5vw;
}

h2 {
    margin: 1.5vw 0 1vw;
}