.wrapper {
  max-width: 850px;
  margin: 0 auto;
}
.user_data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
}

input {
  border-bottom: 2px solid var(--color-ligh-grey);
  padding: 0.5vw;
}

h2 {
  margin: 1.5vw 0 1vw;
}

.emptyCartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.bodyEmptyCart {
  width: 50%;
  text-align: center;
}

a {
  color: var(--color-blue);
}

.bodyEmptyCart a:hover {
  text-decoration: underline;
}

.btnContainer {
  display: flex;
  gap: 30px;
}

.payment_info{
  font-size: 1vw;
  margin: 1.5vw 0;
}

.submit_btn{
  max-width: max-content;
}

.submit_btn button{
  padding: 1vw;
}
