*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: var(--color-text-black);
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  /* padding: 0 6%; */
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--color-text-black);
}

select {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

select::-ms-expand {
  display: none;
}

@font-face {
  font-family: "Gothampro";
  src: url("./fonts/gothampro_black.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-VariableFont_wght.ttf");
  font-weight: 400;
}