.buttonWhite {
    border: 1.5px solid var(--color-text-black);
    background-color: white;
}

.buttonWhite:hover {
    border: 1.5px solid var(--color-blue);
    color: var(--color-blue);
}

.buttonWhite:hover * {
    stroke: var(--color-blue);
}

.buttonWhite:active {
    top: 1px;
}